################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db-wal
/Hospital.Services/bin/Debug/net8.0/Hospital.Model.dll
/Hospital.Services/bin/Debug/net8.0/Hospital.Model.pdb
/Hospital.Services/bin/Debug/net8.0/Hospital.Repositories.dll
/Hospital.Services/bin/Debug/net8.0/Hospital.Repositories.pdb
/Hospital.Services/bin/Debug/net8.0/Hospital.Services.dll
/Hospital.Services/bin/Debug/net8.0/Hospital.Services.pdb
/Hospital.Services/bin/Debug/net8.0/Hospital.Utilities.dll
/Hospital.Services/bin/Debug/net8.0/Hospital.Utilities.pdb
/Hospital.Services/bin/Debug/net8.0/Hospital.ViewModels.dll
/Hospital.Services/bin/Debug/net8.0/Hospital.ViewModels.pdb
/.vs/HospitalManagement/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/HospitalManagement/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/HospitalManagement/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/HospitalManagement/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/HospitalManagement/DesignTimeBuild/.dtbcache.v2
/.vs/HospitalManagement/FileContentIndex/0388189a-933f-4416-99bf-447877eeceb2.vsidx
/.vs/HospitalManagement/FileContentIndex/05758d38-713f-4bf3-beef-63e66c6466fd.vsidx
/.vs/HospitalManagement/FileContentIndex/0c9188ef-0563-42eb-aa5e-9b3ba9faed43.vsidx
/.vs/HospitalManagement/FileContentIndex/1d9e5c0c-feaa-4b88-8d50-47d1bc1e69d4.vsidx
/.vs/HospitalManagement/FileContentIndex/21739e18-5e75-4bb5-bc87-e1f9a5ab934a.vsidx
/.vs/HospitalManagement/FileContentIndex/4875984a-b699-40bf-910d-96c8548287c0.vsidx
/.vs/HospitalManagement/FileContentIndex/4b4c4a95-0606-45ee-8037-17de19c7cef1.vsidx
/.vs/HospitalManagement/FileContentIndex/985a904a-944f-4b54-a239-444adceeff08.vsidx
/.vs/HospitalManagement/FileContentIndex/b1c0df23-7e0b-4e05-baa3-37c2d1429a09.vsidx
/.vs/HospitalManagement/FileContentIndex/cef1b43b-32a3-48f8-8b3c-2519a9a487dd.vsidx
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.AssemblyInfo.cs
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.AssemblyInfoInputs.cache
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.csproj.AssemblyReference.cache
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.csproj.CoreCompileInputs.cache
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.csproj.FileListAbsolute.txt
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.dll
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.pdb
/Hospital.Repositories/obj/Debug/net8.0/Hospital.Repositories.sourcelink.json
/Hospital.Repositories/obj/Debug/net8.0/refint/Hospital.Repositories.dll
